// - var test = function(val){
// -   return !val
// - }

header.header
    .container.header__wrap
        .header-left
            img(src= "assets/img/finom-logo.svg" alt="FINOM").logo
            nav.menu
                a.menu__item.dropdown Products
                    .dropdown__menu
                        ul.dropdown__items
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/business-account.svg" alt="img")
                                p.dropdown__text Business account
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/invoicing.svg" alt="img")
                                p.dropdown__text Invoicing
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/cards.svg" alt="img")
                                p.dropdown__text Cards
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/multi-banking.svg" alt="img")
                                p.dropdown__text Multi-Banking
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/cashback.svg" alt="img")
                                p.dropdown__text Cashback
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/phone.svg" alt="img")
                                p.dropdown__text Apple Pay
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/rocket.svg" alt="img")
                                p.dropdown__text Launch your business
                a(href= "#").menu__item Pricing
                a.menu__item.dropdown Company
                    .dropdown__menu
                        ul.dropdown__items
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/business-account.svg" alt="img")
                                p.dropdown__text Business account
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/invoicing.svg" alt="img")
                                p.dropdown__text Invoicing
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/cards.svg" alt="img")
                                p.dropdown__text Cards
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/multi-banking.svg" alt="img")
                                p.dropdown__text Multi-Banking
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/cashback.svg" alt="img")
                                p.dropdown__text Cashback
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/phone.svg" alt="img")
                                p.dropdown__text Apple Pay
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/rocket.svg" alt="img")
                                p.dropdown__text Launch your business
                a.menu__item.dropdown Help
                    .dropdown__menu
                        ul.dropdown__items
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/business-account.svg" alt="img")
                                p.dropdown__text Business account
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/invoicing.svg" alt="img")
                                p.dropdown__text Invoicing
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/cards.svg" alt="img")
                                p.dropdown__text Cards
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/multi-banking.svg" alt="img")
                                p.dropdown__text Multi-Banking
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/cashback.svg" alt="img")
                                p.dropdown__text Cashback
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/phone.svg" alt="img")
                                p.dropdown__text Apple Pay
                            li.dropdown__item
                                .dropdown__image
                                    img(src="assets/img/rocket.svg" alt="img")
                                p.dropdown__text Launch your business
                a(href= "#").menu__item Blog
        .header-right
            a.language.dropdown English
                .dropdown__menu
                    .language__dropdown
                        .language__header LANGUAGE
                        .language__select
                            .language__item IT
                            .language__item EN
                        .language__header COUNTRY
                        .language__country.language__country_active
                            .language__img
                            .language__name Italia
                        .language__country
                            .language__img
                            .language__name France
                        .language__country
                            .language__img
                            .language__name Deutschland

            a.sigIn Sign In
            button.account-status Get card

        .mobile-menu
            .burger
                .burger-item
                .burger-item
                .burger-item

            .mobile-submenu
                a(href="#").item.dropdown.dropdown_inside Products
                    .dropdown__menu
                        .language__dropdown
                            .language__header LANGUAGE
                            .language__select
                                .language__item IT
                                .language__item EN
                            .language__header COUNTRY
                            .language__country.language__country_active
                                .language__img
                                .language__name Italia
                            .language__country
                                .language__img
                                .language__name France
                            .language__country
                                .language__img
                                .language__name Deutschland

                a(href="#").item Pricing
                a(href="#").item Company
                a(href="#").item Help
                a(href="#").item Blog