.about {
  overflow: hidden;
  margin-top: 40px;

  &__wrap {
    padding-top: 112px;
    background-color: $gray-light;
    border-radius: 24px;

    @media (max-width: 900px) {
      padding-top: 40px;
    }
  }

  &-title {
    font-size: 18px;
    font-weight: 400;
    color: $red;
    text-transform: uppercase;
  }

  .slider {
    margin-top: 24px;
    &__item {
      display: inline-flex!important;
      justify-content: space-between;
      font-size: 18px;
      font-weight: 400;
      line-height: 29px;

      @media (max-width: 700px) {
        flex-direction: column;
        font-size: 16px;
        line-height: 27px;
      }
    }
    &__description {
      max-width: 480px;
      @media (max-width: 700px) {
        max-width: 100%;
      }
    }
    &__sub-title {
      margin-top: 12px;
      font-size: 24px;
      line-height: 38px;
      @media (max-width: 430px) {
        font-size: 18px;
        line-height: 32px;
      }
    }
    &__text {
      margin-top: 12px;
    }
    &__quote {
      max-width: 600px;
      align-self: self-start;
      padding: 32px 40px;
      background-color: white;
      border-radius: 16px;
      box-sizing: border-box;
      @media (max-width: 700px) {
        max-width: 100%;
        margin-top: 15px;
        padding: 15px 20px;
      }
    }
    &__quotes {
      margin-bottom: 9px;
    }

    &__nav {
      display: flex;
      justify-content: space-between;
      margin-top: 56px;
      gap: 0 20px;

      &-item {
        position: relative;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0;
        border: 0;
        font-family: Lato;
        font-size: 18px;
        font-weight: 700;
        line-height: 29px;
        background: none;
        transform: translateY(13%);
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
        opacity: 0.6;
      }

      &-img {
        width: 100%;
        max-width: 280px;
      }

      &-name {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width: 400px) {
          display: none;
        }
      }
    }
  }

  .tns-nav-active {
    transform: translateY(0);
    opacity: 1;
  }
}