.about
    .container.about__wrap
        p.about-title about us
        .slider
            div.slider__item
                .slider__description
                    .title Olivier Binet
                    .slider__sub-title Head of business in France
                    .slider__text
                        |20 years of experience in E-Commerce and FinTech, focusing on business development and
                        |innovation. Conducts independent coaching for startups development. Lives in Paris, France.
                .slider__quote
                    img(src= "assets/img/quotes.svg" loading="lazy" alt="quotes").slider__quotes
                    p
                        |We are a team of successful, modern, serial entrepreneurs with vast experience in creating IT
                        |solutions. We entered banking to become technological challengers.

            div.slider__item
                .slider__description
                    .title Alena Valovaya
                    .slider__sub-title Co-founder
                    .slider__text
                        |4 years in fintech. 13 years in HR, 3 years in Marketing. Сonducts independent coaching with
                        |European ECF certification. Lives in Amsterdam, the Netherlands.
                .slider__quote
                    img(src= "assets/img/quotes.svg" loading="lazy" alt="quotes").slider__quotes
                    p
                        |That’s why we’ve set up FINOM – a digital solution that helps you create, send and store
                        |invoices and electronic invoices. We wanted to build a place where you can grow your business
                        |and make money but not waste your time.

            div.slider__item
                .slider__description
                    .title Thomas Finan
                    .slider__sub-title Head of business in France
                    .slider__text
                        | 20 years of experience in E-Commerce and FinTech, focusing on business development and
                        | innovation. Conducts independent coaching for startups development. Lives in Paris, France.
                .slider__quote
                    img(src= "assets/img/quotes.svg" loading="lazy" alt="quotes").slider__quotes
                    p
                        | We are a team of successful, modern, serial entrepreneurs with vast experience in creating IT
                        | solutions. We entered banking to become technological challengers.

            div.slider__item
                .slider__description
                    .title Ivo Dimitrov
                    .slider__sub-title Head of business in France
                    .slider__text
                        | 20 years of experience in E-Commerce and FinTech, focusing on business development and
                        | innovation. Conducts independent coaching for startups development. Lives in Paris, France.
                .slider__quote
                    img(src= "assets/img/quotes.svg" loading="lazy" alt="quotes").slider__quotes
                    p
                        | We are a team of successful, modern, serial entrepreneurs with vast experience in creating IT
                        | solutions. We entered banking to become technological challengers.

        div(id="slider__nav").slider__nav
            button.slider__nav-item
                p.slider__nav-name
                    span Olivier
                    span Binet
                img(src= "assets/img/olivier.webp" srcset= "assets/img/olivier-x2.webp 2x" loading="lazy" alt="Olivier").slider__nav-img
            button.slider__nav-item
                p.slider__nav-name
                    span Alena
                    span Valovaya
                img(src= "assets/img/alyona.webp" srcset= "assets/img/alyona-x2.webp 2x" loading="lazy" alt="Alena").slider__nav-img
            button.slider__nav-item
                p.slider__nav-name
                    span Thomas
                    span Finan
                img(src= "assets/img/tom.webp" srcset= "assets/img/tom-x2.webp 2x" loading="lazy" alt="Thomas").slider__nav-img
            button.slider__nav-item
                p.slider__nav-name
                    span Ivo
                    span Dimitrov
                img(src= "assets/img/ivo.webp" srcset= "assets/img/ivo-x2.webp 2x" loading="lazy" alt="Ivo").slider__nav-img