.business-card
    .container.business-card__wrap
        .business-card__descr
            h1.title.business-card__title Undoubtedly the best business card

            p.business-card__sub-title Free plastic and virtual cards for freelancers and SMEs packed up with next-level expense management solution

            ul.business-card__list
                li.business-card__list-item German <span class="bold">IBAN</span> account <span class="bold">opened in 48 hours</span>
                li.business-card__list-item Free VISA debit cards with <span class="bold">0% commission and up to 3% cashback</span>
                li.business-card__list-item Free employee cards with <span class="bold">spending control</span> features
                li.business-card__list-item Team expenses ready for accounting with <span class="bold">receipts collected online</span>
                li.business-card__list-item Plastic or virtual prepaid cards

            button.account-status.business-card__account-status Get card

            img(src= "assets/img/trustpilot.webp" alt="trustpilot").business-card__trustpilot

        .business-card__video
            img(src= "assets/img/phone.webp" alt="video").business-card__video-img

            button.business-card__play
                img(src= "assets/img/triangle.svg" alt="triangle").business-card__play-icon

            .business-card__message
                img(src= "assets/img/print.svg" alt="print").business-card__message-img
                p.business-card__message-text ATM withdrawal limit <br>of 2000€ per month