.management-features
    .container.management-features__wrap
        h2.title.management-features__title Control your team spendings with expense management features
        .management-features__items
            .management-features__item
                img(src= "assets/img/management-features-1.webp" srcset= "assets/img/management-features-1x2.webp 2x" loading="lazy" alt="img-1").logo.management-features__img
                .management-features__descr
                    h3.management-features__subtitle
                        span.management-features__subtitle_blue Unlimited
                        =' '
                        |virtual cards to your team in several clicks
                    p.management-features__text
                        |Enable faster purchasing by issuing personal cards or creating separate sub-accounts for
                        |your employees. Customize cards limits and spending policies

            .management-features__item
                .management-features__descr
                    h3.management-features__subtitle
                        span.management-features__subtitle_blue Full visibility
                        =' '
                        | on team spendings
                    p.management-features__text
                        | Enjoy real-time, customizable reporting available in app or desktop. Never miss a transaction
                        | with smart notifications.
                img(src= "assets/img/management-features-2.webp" srcset= "assets/img/management-features-2x2.webp 2x" loading="lazy" alt="img-2").logo.management-features__img

            .management-features__item
                img(src= "assets/img/management-features-3.webp" srcset= "assets/img/management-features-3x2.webp 2x" loading="lazy" alt="img-3").logo.management-features__img
                .management-features__descr
                    h3.management-features__subtitle
                        | Collect receipts to
                        =' '
                        span.management-features__subtitle_blue simplify bookkeeping
                    p.management-features__text
                        | And not just receipts - invoices, contracts and any other document can be easily mapped with
                        | any transaction

            .management-features__item
                .management-features__descr
                    h3.management-features__subtitle
                        | All bank accounts
                        =' '
                        span.management-features__subtitle_blue connected
                    p.management-features__text
                        | Combine all your finances in a single interface linking other banks accounts to FINOM.
                        | Integration? Will take several minutes and few clicks
                img(src= "assets/img/management-features-4.webp" srcset= "assets/img/management-features-4x2.webp 2x" loading="lazy" alt="img-4").logo.management-features__img

            .management-features__item
                img(src= "assets/img/management-features-5.webp" srcset= "assets/img/management-features-5x2.webp 2x" loading="lazy" alt="img-5").logo.management-features__img
                .management-features__descr
                    h3.management-features__subtitle
                        span.management-features__subtitle_blue Manage subscriptions
                        | <br>with separate card
                    p.management-features__text
                        | Never let your recurring payments get loose. Issue a separate virtual card to control )
                        | your subscriptions. Turn it on/off right from the interface and receive additional cashback
                        | for certain categories <br><br>(coming soon)

        button.account-status.management-features__account-status
            p.account-status__text Get card