.steps
    .container.steps__wrap
        h2.title.steps__title 5 steps to get your expenses in control

        .steps__items
            .steps__item
                .steps__img
                    img(src= "assets/img/cards.svg" loading="lazy" alt="cards").steps__img_card
                .steps__descr
                    h3.steps__subtitle Issue
                    .steps__text plastic and virtual <br>cards

            .steps__item
                .steps__img
                    img(src= "assets/img/gear.svg" loading="lazy" alt="gear")
                .steps__descr
                    h3.steps__subtitle Customize
                    .steps__text card limits and spending policies

            .steps__item
                .steps__img
                    img(src= "assets/img/search.svg" loading="lazy" alt="search")
                .steps__descr
                    h3.steps__subtitle Track
                    .steps__text expenses at <br>a glance

            .steps__item
                .steps__img
                    img(src= "assets/img/photo.svg" loading="lazy" alt="photo")
                .steps__descr
                    h3.steps__subtitle Snap
                    .steps__text or upload <br>receipts

            .steps__item
                .steps__img
                    img(src= "assets/img/calc.svg" loading="lazy" alt="calc")
                .steps__descr
                    h3.steps__subtitle Import
                    .steps__text accounting-ready data to your software