.steps {
  margin-top: 40px;
  color: white;

  &__wrap {
    padding-top: 112px;
    padding-bottom: 112px;
    border-radius: 24px;
    background-color: $black;

    @media (max-width: 900px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__title {
    margin: 0;
    text-align: center;
  }
  &__items {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1380px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__item {
    position: relative;
    width: 100%;
    max-width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child):after {
      content: "";
      position: absolute;
      display: block;
      left: calc(100% - 10px);
      top: 54px;
      width: 55px;
      height: 14px;
      background-image: url("../img/steps-arrow.svg");

      @media (max-width: 1380px) {
        top: calc(100% + 23px);
        left: 61px;
        transform: translateX(-50%) rotate(90deg);
      }

      @media (max-width: 400px) {
        left: 50%;
      }
    }

    @media (max-width: 1380px) {
      flex-direction: row;
      max-width: 333px;
      margin-bottom: 60px;
      border: 1px solid $gray;
      border-radius: 63px;
    }

    @media (max-width: 400px) {
      flex-direction: column;
      margin-bottom: 70px;
      border: none;
    }
  }
  &__img {
    width: 100%;
    max-width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $gray;

    &_card {
      width: 40px;
    }
  }
  &__descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;

    @media (max-width: 1380px) {
      margin: 0 12px;
      width: 100%;
    }

    @media (max-width: 400px) {
      margin: 12px 0 0;
      padding: 0 50px;
      box-sizing: border-box;
    }
  }
  &__subtitle {
    margin: 0;
    font-family: Metropolis;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
  }
  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
  }
}