$black: #222B55;
$gray-light: #F5F8FF;
$gray: #6C789D;
$red: #FF5762;
$blue: #415DE8;

body, p , ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
  color: $black;
}

.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding: 0 90px;
  box-sizing: border-box;

  @media (max-width: 900px) {
    padding: 0 15px;
  }
}

.title {
  margin: 0;
  font-family: Metropolis;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;

  @media (max-width: 430px) {
    font-size: 32px;
    line-height: 42px;
  }
}

.account-status {
  position: relative;
  padding: 18px 40px;
  color: white;
  font-size: 22px;
  line-height: 24px;
  font-family: Lato;
  font-weight: 600;
  background-color: $red;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    bottom: -150px;
    left: -110%;
    display: block;
    border-radius: 50%;
    background-color: $blue;
    width: 220%;
    height: 300px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
  }

  &:hover{
    &:before {
      transform: scale(1);
    }
  }

  &__text {
    position: relative;
  }
}

.dropdown {
  position: relative;
  padding-right: 24px;
  display: flex;
  align-items: center;

  &_open {
    &:after {
      transform: rotate(180deg);
    }
    .dropdown__menu {
      display: block;
    }
  }

  &:after {
    content: "";
    position: absolute;
    right: 0;
    display: inline-block;
    width: 9px;
    height: 5px;
    margin-right: 8px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    transition: transform 0.2s ease-in-out;
  }

  &_inside {
    flex-direction: column;
    align-items: end;

    .dropdown__menu {
      position: relative;
    }

    &:after {
      top: 20px;
    }
  }

  &__menu {
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    margin-top: 17px;
    box-shadow: 0 0 6px rgba(120, 127, 141, 0.4);
    background: white;
    border-radius: 12px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 24px;
      height: 24px;
      transform: rotate(45deg);
      left: 32px;
      top: -12px;
      background: white;
      box-shadow: (0px 0px 6px rgba(120, 127, 141, 0.4));
      z-index: -1;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 48px;
    @media (max-width: 1160px) {
      grid-template-columns: 1fr;
      padding: 15px;
      gap: 10px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: $black;
    &:hover {
      color: $blue;
    }
  }
  &__image {
    width: 64px;
    height: 64px;
    display: flex;
    background: $gray-light;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
  &__text {
    margin-left: 20px;
    white-space: nowrap;
  }
}

.social {
  display: flex;
  gap: 0 12px;

  &__item {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    box-sizing: border-box;

    svg {
      fill: #A1A6B5;
    }

    &:hover {
      svg {
        fill: $red;
      }
    }
  }
}

.markets {
  display: flex;
  gap: 0 20px;
  margin-top: 65px;

  &__item {
    display: flex;
    border-radius: 6px;
    width: 100%;
    max-width: 138px;
    &:hover {
      box-shadow: 0 0 6px rgba(120, 127, 141, 0.7);
    }

    &_apple {
      max-width: 136px;
    }
  }

  &__img {
    width: 100%;
  }

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: center;
    gap: 10px 0;
  }
}

.language {
  cursor: pointer;

  &__block {
    display: inline-flex;
    align-items: center;
  }
  &__text {
    text-transform: uppercase;
  }

  &__input {
    width: 0;
  }

  &__dropdown {
    padding: 12px 0;
    background-color: white;
    border-radius: 8px;
  }
  &__header {
    padding: 12.5px 32px;
    font-size: 12px;
    line-height: 19px;
    color: $gray;
    text-transform: uppercase;
  }
  &__select {
    display: flex;
  }
  &__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 0;

    &:hover {
      background-color: $gray-light;
    }

    &_active {
      color: $black!important;
      background-color: #D7E0FF!important;
    }
  }

  &__country {
    display: flex;
    align-items: center;
    padding: 9px 32px;
    color: $gray;

    &:hover {
      background-color: $gray-light;
    }

    &_active {
      color: $black;
      background-color: #D7E0FF;
    }

    input {
      opacity: 0;
    }
  }
  &__flag {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &_italia {
      background-image: url("../img/italia.svg");
    }
    &_france {
      background-image: url("../img/france.svg");
    }
    &_deutschland {
      background-image: url("../img/deutschland.svg");
    }
  }
  &__name {
    text-transform: capitalize;
  }
}

.sigIn {
  color: $red;
  size: 16px;
  line-height: 16px;
  font-weight: 600;
  padding: 0 24px;
  margin-right: 12px;
  cursor: pointer;

  @media (max-width: 600px) {
    line-height: 25.6px;
    padding: 0;
  }
}

.bold {
  font-weight: 700;
}

