extends assets/blocks/layout/layout

block header
    include assets/blocks/header/header

block business-card
    include assets/blocks/business-card/business-card

block virtual-card
    include assets/blocks/virtual-card/virtual-card

block management-features
    include assets/blocks/management-features/management-features

block steps
    include assets/blocks/steps/steps

block about
    include assets/blocks/about/about

block footer
    include assets/blocks/footer/footer