.virtual-card
    .container.virtual-card__wrap

        .virtual-card__bg
            img(src= "assets/img/virtual-card-bg.webp" alt="rocket")

        .virtual-card__descr
            .title FINOM Virtual Card — <br>quick, flexible, secure

            .virtual-card__items
                .virtual-card__item
                    .virtual-card__icons
                        .virtual-card__icon
                            img(src= "assets/img/apple-pay.svg" alt="apple-pay")
                        .virtual-card__icon
                            img(src= "assets/img/google-pay.svg" alt="google-pay")
                    p.virtual-card__sub-title Pay on the go
                    p.virtual-card__text Forget about the hassle of physical cards and pay with just your smart phone using Apple Pay or Google Pay

                .virtual-card__item
                    .virtual-card__images
                        .virtual-card__icon
                            img(src= "assets/img/lock.svg" alt="lock")
                    p.virtual-card__sub-title Feel secure
                    p.virtual-card__text No magnetic strips, visible card numbers or PINs. No risk of overspending above prepaid limits

                .virtual-card__item
                    .virtual-card__images
                        .virtual-card__icon
                            img(src= "assets/img/rocket.svg" alt="rocket")
                    p.virtual-card__sub-title Issue instanly
                    p.virtual-card__text Several clicks to create a card for any purpose and every employee

                .virtual-card__item
                    .virtual-card__images
                        .virtual-card__icon
                            img(src= "assets/img/timer.svg" alt="timer")
                    p.virtual-card__sub-title Manage in real-time
                    p.virtual-card__text Set limits, freeze, track, top-up or block cards in just a minute from mobile or desktop

            button.account-status.virtual-card__account-status Get card